.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.Modal {
  position: absolute;
  top: 4rem;

  left: 50%;
  transform: translateX(-50%);

  background-color: papayawhip;
}
